<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('header'); %>
  </head>
  <body>
           <center><h1>Password Management System</h1></center>
    <h1><%= mgs %></h1><button><a href="/logout">Logout</a></button>   <b><%= useris %></b>  
    <% if(del !== ''){ %>
    <center><p><%= del %></p></center>
    <% } %>
    <form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Password Category  
                <button type="button" class="btn btn-success"><a href="/addcatrgory">Add Category</a></button>

                <button type="button" class="btn btn-success"><a href="/viewdetails">View Data</a></button>
                </th> 
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% if(records.length > 0){ %>
                <% records.forEach(function(data){ %>
              <tr>
                <th scope="row">#</th>
                <td><%= data.catagoryname %></td>
                <td><button type="button" class="btn btn-primary"><a href="/edit/<%= data._id %>"><p style="color: red;">Edit</p></a></button></td>
                <td><button type="button" class="btn btn-danger"><a href="/delete/<%= data._id %>">Delete</a></button></td>
           
              </tr>
              <% }) %>
              <% }
              else{%>
                <tr>
                  <td colspan="5">NO RecordFound....!!</td>
              </tr><% } %>
            </tbody>
          </table>
          Back To Dashboard : <a href="/dashboard">Dashboard</a>
    </form>
    <%- include('footer'); %>
  </body>
</html>
